<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <!--
        活动的启动模式：launchMode:
                            1.standrd:可以在该活动中重复创建该活动(默认)
                            2.singleTop:不能在该活动中重复创建该活动，如果该活动不在栈顶，则可以重新创建
                            3.singleTask:只能存在一个该活动
                            4.singleInstance:用于多个程序共享
        -->
        <activity
            android:name=".NormalActivity"
            android:label="@string/title_activity_normal"
            android:launchMode="singleTop" >
        </activity>

        <!-- 设置为dialog对话框的主题 -->
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".IndexActivity"
            android:label="@string/title_activity_index" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RelativeLayout"
            android:label="@string/title_activity_relative_layout" >
        </activity>
        <activity
            android:name=".FrameLayout"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".TableLayout"
            android:label="@string/title_activity_table_layout" >
        </activity>
        <activity
            android:name=".ListViewTest"
            android:label="@string/title_activity_list_view_test" >
        </activity>
        <activity
            android:name=".ImageListView"
            android:label="@string/title_activity_image_list_view" >
        </activity>
    </application>

</manifest>
